<section class="main grid">

  <h3 class="main_title a">Inicio</h3>

  <div class="main_title_flex b">
    <app-creditCard></app-creditCard>
    <app-ingresos-egresos
      leyenda="Ingresos"
      monto="1000"
      variacion="10"
    ></app-ingresos-egresos>
    <app-ingresos-egresos
      leyenda="Ingresos"
      monto="13000"
      variacion="-10"
    ></app-ingresos-egresos>
  </div>

  <div class="main_title_flex c">
    <app-balance></app-balance>
    <app-ultimas-transacciones></app-ultimas-transacciones>
  </div>

  <div class="d">

  </div>

</section>
