<section class="main grid">

  <h3 class="main_title a">Inicio</h3>

  <div class="main_title_flex b">
    <app-creditCard></app-creditCard>
    <div class="padding_left padding_top">
      <app-ingresos-egresos
        leyenda="Ingresos"
        monto="1000"
        variacion="10"
      ></app-ingresos-egresos>
    </div>
    <div class="padding_left padding_top">
      <app-ingresos-egresos
        leyenda="Egresos"
        monto="13000"
        variacion="-10"
      ></app-ingresos-egresos>
    </div>
  </div>

  <div class="main_title_flex c">
    <app-balance></app-balance>
    <div class="padding_left padding_top">
      <app-ultimas-transacciones></app-ultimas-transacciones>
    </div>
  </div>

  <div class="main_title_flex d">
    <app-cuotas-tabla></app-cuotas-tabla>
  </div>

</section>
