.main{
  background-color: #e8e8e8;

  .main_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding-left: 45px;
    text-align: start;
  }

  .main_title_flex{
    display: flex;
  }
}

.grid{
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  grid-template-areas:
  "a a a"
  "b b b"
  "c c c"
  "d d d";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 240px 420px 420px;
}

.a{
  grid-area: a;
}

.b{
  grid-area: b;
  padding: 1rem;
}

.c{
  grid-area: c;
  padding: 1rem;
}
