p, h2 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.card {
  min-width: 300px;
  min-height: 180px;
  background-color: white;
  border-radius: 25px;
  color: #353A61;
  font-size: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card_number {
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    p{
      font-size: 18px;
    }
  }

}

.card_value {
  font-size: 22px;
  font-weight: bold;
}

.car_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_flex{
  display: flex;
  justify-content: space-between;

  .card_header{
    padding-left: 15px;
    padding-bottom: 5px;
  }
}

.icon_add{
  padding: 15px;
  background-color: #353A61;
  border-radius: 100px;
  color: white;
}

.card_date_text{
  font-size: 12px;
  color: #605f5f;
  font-weight: bold;
}



