.sidenav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  width: 200px;
}

.div_logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100px;

  .logo {
    padding: 1rem 4rem;
    mix-blend-mode: screen;
    color: #353A61;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.icon{
  width: 60px;
  height: 60px;
  color: #605f5f;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.align{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    .icon{
      color: white;
      background-color: #3f51b5;
      border-radius: 100px;
    }
  }

}


