p, h2 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.card {
  min-width: 300px;
  min-height: auto;
  background-color: #353A61;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  padding: 20px;

  .card_number {
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    p{
      font-size: 18px;
    }
  }

}

.card_value {
  font-size: 18px;
}

.car_info{
  display: flex;
  align-items: center;
  margin-top: 25px;
  .card_date{
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.weight{
  font-size: 18px;
  font-weight: 700;
}



